<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=s, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <a href="index.html">
    Home
  </a>
  <h1>Status</h1>

  <ul id="candidates"></ul>
</body>

<script>
  document.addEventListener("DOMContentLoaded", async () => {
    const response = await fetch("/api/status");
    const status = await response.json();


    const candidatesEl = document.querySelector("#candidates")
    Object.keys(status).forEach(key => {
      const li = document.createElement("li");
      li.innerText = `${key} has ${status[key]} votes`;
      li.classList.add("candidate");
      candidatesEl.appendChild(li);
    })
  })
</script>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

  * {
    font-family: 'Poppins', sans-serif;
  }

  body {
    padding: 20px;
  }

  a {
    text-decoration: none;
    color: #7159c1;
    animation: fade 1s ease-in-out;
  }

  a:hover {
    text-decoration: underline;
  }

  .candidate {
    animation: fade 500ms ease-in-out;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
</style>

</html>