<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=s, initial-scale=1.0">
  <link rel="stylesheet" href="global.css">
  <title>Status</title>
</head>

<body>
  <a href="index.html">
    Home
  </a>
  <h1>Status</h1>
  <p class="subtitle">
    Here you see the status of the candidates.
  </p>

  <div class="container">
    <ul id="candidates"></ul>
  </div>
</body>

<script>
  document.addEventListener("DOMContentLoaded", async () => {
    const response = await fetch("/api/status");
    const status = await response.json();


    const candidatesEl = document.querySelector("#candidates")
    const keys = Object.keys(status)

    console.log(keys);

    if (!keys.length) {
      const li = document.createElement("li");
      li.innerText = "No votes yet";
      li.classList.add("candidate");
      candidatesEl.appendChild(li);
    }
    else {
      keys.forEach(key => {
        const li = document.createElement("li");
        li.innerText = `${key} has ${status[key]} votes`;
        li.classList.add("candidate");
        candidatesEl.appendChild(li);
      })
    }


  })
</script>

<style>
  .candidate {
    animation: fade 500ms ease-in-out;
  }
</style>

</html>